<div class="grow px-4 sm:px-6 md:px-5 py-6 pb-16"
     x-data="{ messages: $store.instance.messages }"
     x-init="$watch('$store.instance.messages', r => (messages = r))"
>
    <template x-for="msg in messages">
    <div class="flex items-start mb-4 last:mb-0" x-transition>
        <span class="rounded-full mr-4 w-6 h-6 bg-gray-200">
            <img x-show="!msg.fromMe && !msg.isGroupMsg" 
                 :src="msg.chat && msg.chat.contact && msg.chat.contact.profilePicThumbObj && msg.chat.contact.profilePicThumbObj.img ? msg.chat.contact.profilePicThumbObj.img : ''" 
                 width="32" height="32">

            <img x-show="!msg.fromMe && msg.isGroupMsg" 
                 :src="msg.sender && msg.sender.profilePicThumbObj && msg.sender.profilePicThumbObj.img ? msg.sender.profilePicThumbObj.img : ''" 
                 width="32" height="32">     
        </span>
        <div>
            <div class="text-sm p-3 rounded-lg rounded-tl-none border border-gray-200 shadow-md mb-1"
                 x-show="!(msg.isMedia === true || msg.isMMS === true) && (msg.type === 'chat' || msg.body)"
                 x-html="msg.body"
                 :class="msg.fromMe ? 'bg-indigo-500 text-white' : 'bg-white text-gray-800'"></div>

            <div class="text-sm p-3 rounded-lg rounded-tl-none border border-gray-200 shadow-md mb-1"
                 x-show="!(msg.isMedia === true || msg.isMMS === true) && msg.type && msg.type === 'sticker'"
                 x-html="'*' + msg.type + '*'"
                 :class="msg.fromMe ? 'bg-indigo-500 text-white' : 'bg-white text-gray-800'"></div>     

            <div class="text-sm p-1 rounded-0 border border-gray-200 shadow-md mb-1"
                 x-show="(msg.isMedia === true || msg.isMMS === true) && msg.type && msg.type === 'image'"                 
                 :class="msg.fromMe ? 'bg-indigo-500 text-white' : 'bg-white text-gray-800'">
                 <a x-show="msg.body" :href="'data:'+msg.mimetype+';base64, '+msg.body" target="_blank">
                 <img  :src="'data:'+msg.mimetype+';base64, '+msg.body" />
                 </a>
                 <span x-show="!msg.body">*image*</span>
            </div>     

            <div class="flex items-center justify-between">
                <div class="text-xs text-gray-500 font-medium"
                     x-html="moment.unix(msg.timestamp || msg.t).fromNow()"></div>
                <div x-show="msg.ack == 2">
                    <svg class="w-3 h-3 shrink-0 fill-current text-gray-400" viewBox="0 0 12 12">
                        <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                    </svg>
                </div>
                <div x-show="msg.ack == 3">
                    <svg class="w-5 h-3 shrink-0 fill-current text-green-500"  viewBox="0 0 20 12">
                        <path d="M10.402 6.988l1.586 1.586L18.28 2.28a1 1 0 011.414 1.414l-7 7a1 1 0 01-1.414 0L8.988 8.402l-2.293 2.293a1 1 0 01-1.414 0l-3-3A1 1 0 013.695 6.28l2.293 2.293L12.28 2.28a1 1 0 011.414 1.414l-3.293 3.293z" />
                    </svg>
                </div>     
            </div>
        </div>
    </div>
    </template>
</div>