<div
        id="messages-sidebar"
        class="absolute z-20 top-0 bottom-0 w-full md:w-auto md:static md:top-auto md:bottom-auto md:translate-x-0 transform transition-transform duration-200 ease-in-out"
>
    <div class="sticky top-0 bg-white overflow-x-hidden overflow-y-auto no-scrollbar shrink-0 w-full h-full">

        <!-- #Marketing group -->
        <div>
            <!-- Group header -->
            <div class="sticky top-0 z-10">
                <div class="flex items-center bg-white border-b border-gray-200 px-5 h-16">
                    <div class="w-full flex items-center justify-between">
                        <!-- Channel menu -->
                        <div class="relative">
                            <button class="grow flex items-center truncate">
                                <span class="w-8 h-8 rounded-full mr-2">
                                <svg class="w-8 h-8 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path></svg>
                                </span>
                                <div class="truncate">
                                    <span class="font-semibold text-gray-800">Chat</span>
                                </div>
                            </button>
                        </div>
                        <!-- Compose button -->
                        <button class="p-1.5 shrink-0 rounded border border-gray-200 hover:border-gray-300 shadow-sm ml-2">
                            <svg class="w-4 h-4 fill-current text-gray-500" viewBox="0 0 16 16">
                                <path d="M11.7.3c-.4-.4-1-.4-1.4 0l-10 10c-.2.2-.3.4-.3.7v4c0 .6.4 1 1 1h4c.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4l-4-4zM4.6 14H2v-2.6l6-6L10.6 8l-6 6zM12 6.6L9.4 4 11 2.4 13.6 5 12 6.6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Group body -->
            <div class="px-5 py-4">
                <!-- Search form -->
                <form class="relative">
                    <label for="msg-search" class="sr-only">Search</label>
                    <input id="msg-search" class="pl-9 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 w-full sm:text-sm border-gray-300" type="search" placeholder="Search…" />
                    <button class="absolute inset-0 right-auto group" type="submit" aria-label="Search">
                        <svg class="w-4 h-4 shrink-0 fill-current text-gray-400 group-hover:text-gray-500 ml-3 mr-2" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zM7 2C4.243 2 2 4.243 2 7s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5z" />
                            <path d="M15.707 14.293L13.314 11.9a8.019 8.019 0 01-1.414 1.414l2.393 2.393a.997.997 0 001.414 0 .999.999 0 000-1.414z" />
                        </svg>
                    </button>
                </form>
                <!-- Direct messages -->
                <div class="mt-4">
                    <div class="text-xs font-semibold text-gray-400 uppercase mb-3">Direct messages</div>
                    <ul class="mb-6"
                        x-data="{ chats: $store.instance.chats }"
                        x-init="$watch('$store.instance.chats', r => (chats = r))">
                        <template x-for="chat in chats">
                        <li class="-mx-2">
                            <button class="flex items-center justify-between w-full p-2 rounded"
                                    @click="function () { $store.instance.contact = chat.contact; $store.instance.onChatSelected(chat.id._serialized) }">
                                <div class="flex items-center truncate">
                                    <span class="w-8 h-8 rounded-full mr-2">
                                        <img :src="chat.contact && chat.contact.profilePicThumbObj && chat.contact.profilePicThumbObj.img ? chat.contact.profilePicThumbObj.img : ''" width="32" height="32">
                                    </span>
                                    <div class="truncate">
                                        <span class="text-sm font-medium text-gray-800"
                                              x-html="chat.contact && chat.contact.displayName ? chat.contact.displayName : (chat.contact.formattedName || '')"
                                        ></span>
                                    </div>
                                </div>
                                <div class="flex items-center ml-2">
                                    <svg class="w-3 h-3 shrink-0 fill-current text-gray-400" viewBox="0 0 12 12">
                                        <path d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z" />
                                    </svg>
                                </div>
                            </button>
                        </li>
                        </template>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>