<div class="grow px-4 sm:px-6 md:px-5 py-6"
     x-data="{ messages: $store.instance.messages }"
     x-init="$watch('$store.instance.messages', r => (messages = r))"
>
    <template x-for="msg in messages">
    <div class="flex items-start mb-4 last:mb-0">
        <span class="rounded-full mr-4 w-6 h-6">
            img
        </span>
        <div>
            <div class="text-sm bg-white text-gray-800 p-3 rounded-lg rounded-tl-none border border-gray-200 shadow-md mb-1">
                What do you think?
            </div>
            <div class="flex items-center justify-between">
                <div class="text-xs text-gray-500 font-medium">2:48 PM</div>
            </div>
        </div>
    </div>
    </template>
</div>